canvas {
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  
}

.stars {
  background:#000 url(../src/assets/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../src/assets/twinkling.png) repeat top center;
  

  -moz-animation:move-twink-back 500s linear infinite;
  -ms-animation:move-twink-back 500s linear infinite;
  -o-animation:move-twink-back 500s linear infinite;
  -webkit-animation:move-twink-back 500s linear infinite;
  animation:move-twink-back 500s linear infinite;
  z-index:0;
}


@font-face {
    font-family: 'Baloo Bhai', cursive;
    src: url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
  }




  
  
 